@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1b203b;
  --foreground: #1b203b;
  --primary: #FFF,
  --secondary: #353955,
  --teal: #54AFB6,
  --grey: #67678A,
  --default: #6C708D,
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b203b;
    --foreground: #1b203b;
    --primary: #FFF,
    --secondary: #353955,
    --teal: #54AFB6,
    --grey: #67678A,
    --default: #6C708D,
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.trans {
  transition: all 0.3s ease;
}
